@import url("bootstrap.min.css");
html { overflow-y: scroll; }
body { background: #FFF; color: #838383; font:13px/18px "Microsoft Yahei", Arial, Helvetica, sans-serif; }
.margin-left-10 { margin-left: 10px; }
label.error { margin-left: 10px; display: inline; color: #D70002; }
.table th.center, .table td.center { text-align: center; }
.navbar .nav li a.dropdown-toggle { padding-right: 0; }
.navbar .nav i { margin-top: 3px; }
.navbar .btn { margin-top: 8px; }
.block { margin: 20px 0 10px; overflow: hidden; }
  .block .title { overflow: hidden; margin-bottom: 15px; }
    .block .title .r { float: right; font-family: Arial; line-height: 28px; }
      .block .title .r a { margin-left: 10px; }
    .block .title h5 { margin: 0; padding-bottom: 5px; color: #3A3A3A; font-weight: normal; font-size: 15px; float: left; border-bottom: 2px solid #0088CC; font-weight: bold; }
      .block .title h5 a { text-decoration: none; color: #3A3A3A; }
      .block .title h5 i { margin-top: 3px; }
    .block .title span.tag-name { margin-left: 20px; }
  .block .group-tag { font-size: 12px; }
    .block .group-tag ul { margin: 0; padding: 0 0 10px 0; }
      .block .group-tag ul li { margin: 5px 5px 5px 0; float: left; width: 70px; text-align: center; line-height: 25px; }
        .block .group-tag ul li a { display: block; }
        .block .group-tag ul li a.active, .block .group-tag ul li a:hover { background: #0088CC; color: #FFF; text-decoration: none; }
  .block ul { margin: 30px 0 10px 0; padding: 0; list-style: none; overflow: hidden; border-bottom: 1px solid #EEE; }
    .block ul li.index-group div { padding-right: 10px; float: left; overflow: hidden; max-width: 220px; }
    .block ul li.index-group div.group-avatar { text-align: center; }
      .block ul li.index-group div.group-avatar img { width: 40px; height: 40px; }
    .block ul li.index-group div.group-info { margin-top: -1px; }
      .block ul li.index-group div.group-info a { font-weight: bold; }
      .block ul li.index-group div p { font-size: 12px; color: #666; }
      .block ul li.index-group div .muted { margin-left: 15px; font-size: 12px; }
  .block ul.nav-tabs { border: none; }
  /* 小组介绍 */
  .block .group-instruction { margin: 0 0 20px 0; }
  /* End 小组介绍 */
  /* 话题页标题 */
  .block .topic-title { overflow: hidden; }
    .block .topic-title h1 { font-size: 16px; line-height: 40px; color: #3A3A3A; float: left; }
    .block .topic-title .r { float: right; font-family: Arial; line-height: 28px; line-height: 60px; }
      .block .topic-title .r a { margin-left: 10px; }
  /* End 话题页标题 */
  /* 话题内容 */
  .block .topic .avatar { background: #F6F6F6; text-align: center; }
    .block .topic .avatar img { margin-top: 10px; width: 80px; height: 80px; }
  .block .topic .content { margin: 5px 0px 20px 10px; font-size: 14px; color: #3A3A3A; line-height: 25px; }
    .block .topic ul.inline { margin: 0 0 10px 0; padding: 0; border: none; }
      .block .topic ul.inline li { margin-left: 10px; float: right; color: #999; font-size: 12px; }
  /* End 话题内容 */
  /* 话题列表 */
  .block .topic-list .table td { padding: 15px 8px; }
  .block .topic-list .group-name { margin-right: 10px; padding: 0 5px; background: #0088CC; float: left; }
    .block .topic-list .group-name a { display: block; color: #FFF; text-decoration: none; }
  .block .topic-list .title { margin-bottom: 10px; font-weight: bold; font-size: 14px; }
  .block .topic-list ul.inline { margin: 0 0 10px 0; padding: 0; border: none; }
    .block .topic-list ul.inline li { margin-right: 15px; float: left; color: #999; font-size: 12px; }
  .block .topic-list .description { color: #666; font-size: 12px; }
  /* End 话题列表 */
  .block blockquote div.status { float: left; width: 113px; }
  .block blockquote a { margin: 0 10px; font-size: 12px; }
  .block blockquote a.last { margin-right: 0; }
  .block .search-form .q { width: 222px; }
  .block ul.sidebar-group-list { margin: 0; padding: 0; border: none; }
    .block ul.sidebar-group-list li { margin-bottom: 10px; }
      .block ul.sidebar-group-list li a { margin-right: 10px; display: inline-block; position: relative; text-decoration: none; }
        .block ul.sidebar-group-list li a img { width: 40px; height: 40px; }
        .block ul.sidebar-group-list li a span.no { position: absolute; width: 17px; height: 17px; line-height: 17px; left: 0; top: 0; text-align: center; color: #FFF; font-size: 12px; }
        .block ul.sidebar-group-list li a span.no-red { background: #BF0000; }
        .block ul.sidebar-group-list li a span.no-gray { background: #5F5F5F; }
      .block ul.sidebar-group-list li span.muted { line-height: 45px; }
  /* 我加入的小组 */
  .block .my-groups img { width: 40px; height: 40px; }
  .block .my-groups ul { margin: 0; padding: 0; border: none; overflow: hidden; }
    .block .my-groups ul li { margin: 0 12.5px 20px 0; width: 50px; float: left; }
    .block .my-groups ul li.last { margin: 0; }
  /* End 我加入的小组 */
  /* 个人状态 */
  .block .user-avatar img { width: 80px; height: 80px; }
  .block .user-info { margin: 0 0 5px 15px; }
    .block .user-info strong.name { color: #333; }
    .block .user-info .status { line-height: 35px; }
    .block .user-info ul { margin: 0; padding: 0; border: none; }
      .block .user-info ul li { margin-right: 20px; float: left; color: #333; }
        .block .user-info ul li a { text-decoration: none; color: #333; }
        .block .user-info ul li a:hover { color: #08C; }
        .block .user-info ul li strong { display: block; font-size: 14px; }
  /* End 个人状态 */
.footer { padding: 20px 0; margin-top: 20px; border-top: 1px solid #E5E5E5; background-color: whiteSmoke; font-size: 12px; }
