html { overflow-y: scroll; }
/**
body { background: #FFF url("../img/sbg.png") repeat; font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;; }
/**/
body { background: #F8F8F8; font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;; }

.clearfix { clear: both; }
.center { text-align: center; }
.left { float: left; margin-right: 10px; overflow: hidden; }
.sth { margin-left: 10px; color: #999; font-size: 12px; }
.sth-desc { margin-left: 50px; color: #999; font-size: 12px; }
a.green { color: #51A351; }
label.error { margin-left: 10px; display: inline; color: #D70002; }

.navbar-inner { min-height: 50px; line-height: 40px; }
.navbar .brand { margin: 0; padding: 0 }
.navbar .pull-right, .navbar .nav { height: 50px; }
.navbar .btn { margin-top: 12px; }
.navbar .nav li { line-height: 30px; }
.navbar .user { margin: 0; font-size: 12px; }
.navbar .user li a { padding: 10px 0px 10px 20px; }
.navbar .user li a.username { padding: 10px 0px 10px 10px; }
.navbar .user li a img { margin-top: 5px\9; width: 25px; height: 25px; }

.sidebar-signin-label { margin-right: 10px; width: 80px; cursor: pointer; float: left; line-height: 30px; text-align: left; }

.box-title { margin-top: 20px; margin-left: 2px; padding-left: 8px; height: 17px; line-height: 17px; border: none; border-left: 3px solid #5C9012; color: #5C9012; font-size: 16px; }
.box-title span { float: left; }
.box-title span.link { float: right; font-size: 12px; font-weight: normal; }
.box { min-height: 20px; padding: 19px; border: 1px solid #E3E3E3; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); background: #FFF; overflow: hidden; }

ul.group-leader { margin: 0; padding: 0; list-style: none; }
ul.group-leader li { margin: 0 0 20px 0; padding: 0 0 20px 0; border-bottom: 1px dashed #E2E2E2; overflow: hidden; }
ul.group-leader li.end { margin: 0; padding: 0; border: none; }
ul.group-leader li div { margin-right: 71px; float: left; text-align: center; line-height: 25px; }
ul.group-leader li div.right { margin-right: 0px; float: right; }
ul.group-leader img { width: 70px; height: 70px; }

ul.group { margin: 0; padding: 0; list-style: none; }
ul.group li { margin: 0 0 20px 0; padding: 0 0 10px 0; border-bottom: 1px dashed #E2E2E2; overflow: hidden; }
ul.group li.end { margin: 0; padding: 0; border: none; }
ul.group li div { margin-right: 20px; float: left; width: 278px; line-height: 25px; overflow: hidden; }
ul.group li div.right { margin-right: 0px; float: right; }
ul.group li div p.group-avatar { float: left; width: 80px; text-align: center; }
ul.group li div p.group-avatar img { margin-bottom: 5px; }
ul.group li div p.group-desc { margin: -7px 0 0 90px; float: left: width: 170px; }
ul.group li div p.group-desc .desc { font-size: 12px; color: #666; }
ul.group img { width: 70px; height: 70px; }

ul.topics { margin: 0; padding: 0; list-style: none; }
ul.topics li { overflow: hidden; margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px dashed #E2E2E2; }
ul.topics li.end { margin: 0; padding: 0; border: none; }
ul.topics li div { overflow: hidden; }
ul.topics li .sth { margin: 0; }
ul.topics li div.detail { width: 520px; }
ul.topics li div.title { margin-bottom: 5px; }
ul.topics img.avatar { margin-right: 10px; width: 40px; height: 40px; }
ul.topics a.green { margin-right: 5px; }

ul.sidebar-topic { margin: 0; padding: 0; list-style: none; }
ul.sidebar-topic li { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dashed #E2E2E2; }
ul.sidebar-topic li.end { margin: 0; padding: 0; border: none; }

.user-info-avatar a img { width: 70px; height: 70px; }
.user-info h5 { margin: 0 0 12px 0; }
.user-info h5 span { margin-left: 20px; font-size: 12px; font-weight: normal; }
.user-info ul { margin: 0; padding: 0; list-style: none; overflow: hidden; }
.user-info ul li { width: 89px; float: left; overflow: hidden; font-size: 12px; }

ul.my-group { margin: 0; padding: 0; list-style: none; }
ul.my-group li { clear: both; margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px dashed #E2E2E2; }
ul.my-group li.end { margin: 0; padding: 0; border: none; }
ul.my-group li img { width: 40px; width: 40px; }

.post-list { margin: 0; padding: 0; list-style: none; }
  .post-list li { padding-bottom: 11px; }

.form { margin: 0; }
.footer { padding: 20px 0; margin-top: 20px; border-top: 1px solid #E5E5E5; background-color: whiteSmoke; }
